<section id="Introduction" class="main-section">
    <header>
      Introduction
    </header>
    <p>
      content
    </p>
    <a href="#" class="top-link">Back to Top</a>
  </section>
  <section id="Machine_Learning" class="main-section">
    <header>
      Machine Learning
    </header>
    <p>
      content
    </p>
    <a href="#" class="top-link">Back to Top</a>
  </section>
  <section id="Linear_Algebra" class="main-section">
    <header>
      Linear Algebra
    </header>
    <p>
      content
    </p>
    <a href="#" class="top-link">Back to Top</a>
  </section>
  <section id="Supervised_Learning" class="main-section">
    <header>
      Supervised Learning
    </header>
    <p>
      content
    </p>
    <a href="#" class="top-link">Back to Top</a>
  </section>
  <section id="Neural_Network" class="main-section">
    <header>
      Neural Network
    </header>
    <p>
      content
    </p></code>
    <a href="#" class="top-link">Back to Top</a>
  </section>
  <section id="Linear_Clasification" class="main-section">
    <header>
      Linear Clasification
    </header>
  <p>
      content
    </p>
      <code class="codeblock">
      :root{ --sidebar-width: 300px; }<br>
      <br>
      nav{<br>
      &nbsp position:fixed;<br>
      &nbsp width: var(--sidebar-width);<br>
      }<br>
      <br>
      main{ margin-left: var(--sidebar-width); }<br>
    </code>
    <a href="#" class="top-link">Back to Top</a>
  </section>
  <section id="Loss_Clasification" class="main-section">
    <header>
      Loss Clasification
    </header>
    <p>
      content
    </p>
   
    <code class="codeblock">
      .class{}<br>
      #id{}<br>
      element{}<br>
      element.class{}<br>
      element>child{}<br>
      element[attribute="value"]{}<br>
    </code>
    <p><a href="https://www.w3schools.com/cssref/css_selectors.asp" target="_blank">A more complete list from W3Schools.</a></p>
    <a href="#" class="top-link">Back to Top</a>
  </section>
  <section id="Model_Optimization" class="main-section">
    <header>
      Model Optimization
    </header>
    <p>
      content
    </p>
    <a href="#" class="top-link">Back to Top</a>
  </section>
  <section id="Backpropagation" class="main-section">
    <header>
      Backpropagation
    </header>
    <p>
      content
    </p>
   
    <code class="codeblock">
      #header {<br>
      &nbsp position: fixed;<br>
      &nbsp z-index: 1;<br>
      &nbsp top: 0px;<br>
      &nbsp left: 0px;<br>
      }<br>
    </code>
    <a href="#" class="top-link">Back to Top</a>
  </section>
  <section id="Feature_Scaling" class="main-section">
    <header>
      Feature Scaling
    </header> <p>
      content
    </p>
   
    <a href="#" class="top-link">Back to Top</a>
  </section>
  <section id="Model_Initialization" class="main-section">
    <header>
      Model Initialization
    </header>
    <p>
      content
    </p>
   
    <a href="#" class="top-link">Back to Top</a>
  </section>

  <section id="Recurrent_Neural_Network" class="main-section">
    <header>
      Recurrent Neural Network
    </header>
    <p>
      content
    </p>
   
    <a href="#" class="top-link">Back to Top</a>
  </section>
  